:root {
    --light: rgb(158, 202, 205);
    --dark: rgb(49, 52, 60);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    height: 130px;
}

header h1 {
    font-size: 52px;
    color: var(--dark);
    background-color: var(--light);
    padding: 20px 20px 20px 90px;
}

nav a {
    text-decoration: none;
    color: var(--light);
}

nav {
    margin-right: 40px;
}

nav ul li {
    font-size: 20px;
    border-bottom: solid 4px var(--light);
    padding: 20px 10px 3px 10px;
    margin-left: 16px;
    display: inline;
}

#hero {
    height: 360px;
    background-image: url("../images/moroccan-flower-dark.png");
    position: relative;
}

#hero h3 {
    font-size: 24px;
    color: var(--dark);
    background-color: var(--light);
    padding: 12px;
    position: absolute;
    bottom: 20px;
    right: 50px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

section h2 {
    color: var(--dark);
    margin-right: 18px;
    margin-top: 18px;
    min-width: 25%;
    border-right: solid 4px var(--dark);
    text-align: right;
    padding-top: 0px;
    padding-right: 20px;
    font-size: 38px;
}

#projects-container {
    width: 70%;
    margin: auto;
}

.project {
    position: relative;
    background-image: url("../images/moroccan-flower-dark.png");
    height: 300px;
    margin: 20px;
}

.project-text h4 {
    font-size: 24px;
    color: var(--dark);
    background-color: var(--light);
    padding: 12px;
    position: absolute;
    bottom: 20px;
    left: 0px;
}

.project-text p {
    font-size: 14px;
    color: var(--dark);
    background-color: var(--light);
    padding: 12px;
    display: inline-block;
}

#about-me p {
    color: var(--dark);
    font-size: 18px;
    margin-top: 18px;
    margin-right: 90px;
}

#contact-me {
    justify-content: space-between;
}

#contact-list a {
    text-decoration: none;
    color: var(--dark);
}

#contact-me ul {
    margin-right: 40px;
}

#contact-list li {
    color: var(--dark);
    display: inline;
    font-size: 20px;
    border-bottom: solid 4px var(--dark);
    padding: 20px 10px 3px 10px;
    margin-left: 16px;
}