:root {
    --light: rgb(158, 202, 205);
    --dark: rgb(49, 52, 60);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    height: 130px;
}

header h1 {
    font-size: 52px;
    color: var(--dark);
    background-color: var(--light);
    padding: 20px 20px 20px 90px;
}

a {
    text-decoration: none;
    color: var(--light);
}

nav {
    margin-right: 40px;
}

nav ul li {
    font-size: 20px;
    border-bottom: solid 4px var(--light);
    padding: 20px 10px 3px 10px;
    margin-left: 16px;
    display: inline;
}

#hero {
    height: 280px;
    background-image: url("../images/moroccan-flower-dark.png");
    position: relative;
}

#hero h3 {
    font-size: 24px;
    color: var(--dark);
    background-color: var(--light);
    padding: 12px;
    position: absolute;
    bottom: 10px;
    right: 40px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

section h2 {
    min-width: 33.33%;
}

.project {
    background-image: url("../images/moroccan-flower-dark.png");
    height: 300px;
}

#contact-me {
    justify-content: space-between;
}

#contact-list li {
    display: inline;
}