header {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

#hero {
    height: 200px;
    background-image: url("../images/moroccan-flower-dark.png");
    position: relative;
}

#hero h3 {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

section h2 {
    min-width: 33.33%;
}

.project {
    background-image: url("../images/moroccan-flower-dark.png");
    height: 300px;
}

#contact-me {
    justify-content: space-between;
}

#contact-list li {
    display: inline;
}